@page "/endorsements"
@rendermode InteractiveServer
@using SynQcore.BlazorApp.Services.StateManagement
@inject StateManager StateManager
@inject NavigationManager Navigation

<PageTitle>Reconhecimentos - SynQcore</PageTitle>

<h1>Reconhecimentos</h1>

@if (!StateManager.User.IsAuthenticated)
{
    <p>Você precisa estar autenticado.</p>
    <button @onclick='@(() => Navigation.NavigateTo("/login"))'>Fazer Login</button>
}
else
{
    <div>
        <button @onclick='@(() => Navigation.NavigateTo("/endorsements/create"))'>Novo Reconhecimento</button>
    </div>

    <section>
        <h2>Reconhecimentos Recentes</h2>
        <p>Nenhum reconhecimento encontrado.</p>
    </section>
}
