@page "/Error"
@using System.Diagnostics

<PageTitle>Erro - SynQcore</PageTitle>

<h1>Erro</h1>
<h2>Ocorreu um erro ao processar sua solicitação.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    O ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado em aplicações publicadas.</strong>
    Isso pode resultar na exibição de informações sensíveis de exceções para usuários finais.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
