@page "/"
@page "/home"
@using SynQcore.BlazorApp.Services.StateManagement
@inject StateManager StateManager
@inject NavigationManager Navigation
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>SynQcore</PageTitle>

@if (StateManager.User.IsAuthenticated)
{
    <h1>Bem-vindo!</h1>
}
else
{
    <h1>SynQcore - Rede Social Corporativa</h1>
    <button @onclick="GoToLogin">Entrar</button>
}

@code {
    private void GoToLogin() => Navigation.NavigateTo("/login");
    protected override void OnInitialized() => StateManager.User.PropertyChanged += (s, e) => InvokeAsync(StateHasChanged);
    public void Dispose() => StateManager.User.PropertyChanged -= (s, e) => InvokeAsync(StateHasChanged);
}
