<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Não encontrado</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p role="alert">Desculpe, não encontramos nada nesta página.</p>
        </LayoutView>
    </NotFound>
</Router>
