@using SynQcore.BlazorApp.Components
@inherits LayoutComponentBase

<AppInitializer>
    <div class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</AppInitializer>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
